<div class="container mx-auto">
  <form #signupForm="ngForm" class="w-[310px]" (submit)="onSignup(signupForm)">
    <p *ngIf="email.invalid && email.touched" class="text-red-600 text-sm mb-1">
      Please enter valid Email
    </p>
    <input
      class="border-2 border-purple-600 outline-0 rounded p-3 block w-full mb-2"
      type="email"
      placeholder="email"
      name="email"
      ngModel
      #email="ngModel"
      required
      email
      [ngClass]="{
        'border-red-600': email.invalid && email.touched
      }"
    />
    <p
      *ngIf="password.invalid && password.touched"
      class="text-red-600 text-sm mb-1"
    >
      Please enter valid password
    </p>
    <input
      class="border-2 border-purple-600 outline-0 rounded p-3 block w-full mb-2"
      type="password"
      placeholder="Password"
      name="password"
      ngModel
      #password="ngModel"
      required
      [ngClass]="{
        'border-red-600': password.invalid && password.touched
      }"
    />
    <button type="submit" class="bg-stone-900 text-stone-100 p-3 rounded">
      Signup
    </button>
  </form>
</div>
