<section class="bg-black">
  <div class="container py-3 sm:py-10 mx-auto grid sm:grid-cols-2 px-3">
    <div class="text-center sm:text-left self-center">
      <h1 class="text-white font-bold text-5xl mt-2">MIND TECHNO SYSTEMS</h1>
      <p class="text-white mt-2">Get your Tickets and keep Track of them</p>
      <button
        class="border-violet-700 px-3 py-1 mt-2 border-solid border-2 text-white"
        routerLink="/login"
      >
        LOGIN
      </button>
    </div>
    <div>
      <img class="w-full" src="../../../assets/images/hero.jpg" alt="" />
    </div>
  </div>
</section>
